@import './colors';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.sidebar {
    float: left;
    width: 10%;
    min-width: 85px;
    height: 100%;
    background-color: $primary;
}

.logo {
    background-image: url(http://placehold.it/50);
    height: 50px;
    width: 50px;
    margin: 10px auto;
}

.page-host {
    float: left;
}